*.a
*.la
.libs
*.lo
*~
gmon.out
/install-sh
postgis_svn_revision.h
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
de9i*.png
doc/html/image_src/generator
doc/html/image_src/Makefile
doc/html/*.html
doc/Makefile
doc/Makefile.comments
doc/po/*/*.xml
doc/po/*/*.po~
doc/po/*/html
doc/po/*/xsl
doc/po/*/*_comments.sql
doc/postgis_aggs_mm.xml
doc/postgis_comments.sql
doc/postgis-out.xml
doc/raster_comments.sql
doc/postgis_gardentest_*.sql
doc/raster_gardentest_*.sql
doc/tiger_geocoder_comments.sql
doc/topology_comments.sql
extensions/Makefile
extensions/address_standardizer/Makefile
extensions/address_standardizer/mk-st-regexp
extensions/address_standardizer/address_standardizer--*.sql
extensions/address_standardizer/address_standardizer.control
extensions/address_standardizer/address_standardizer.sql
extensions/address_standardizer/us-*.sql
extensions/postgis/Makefile
extensions/postgis/postgis.control
extensions/postgis/sql/
extensions/postgis/sql_bits/*.sql
extensions/postgis_sfcgal/Makefile
extensions/postgis_sfcgal/postgis_sfcgal.control
extensions/postgis_sfcgal/sql/
extensions/postgis_sfcgal/sql_bits/
extensions/postgis_tiger_geocoder/Makefile
extensions/postgis_tiger_geocoder/postgis_tiger_geocoder.control
extensions/postgis_tiger_geocoder/sql
extensions/postgis_tiger_geocoder/sql_bits/*.sql
extensions/postgis_tiger_geocoder/sql_bits/tiger_geocoder.sql.in
extensions/postgis_tiger_geocoder/sql_bits/tiger_geocoder_minor.sql.in
extensions/postgis_topology/Makefile
extensions/postgis_topology/postgis_topology.control
extensions/postgis_topology/sql/
extensions/postgis_topology/sql_bits/*.sql
GNUmakefile
java/jdbc/Makefile
java/jdbc/lib/
java/jdbc/pom.xml
java/jdbc/target/
liblwgeom/cunit/cu_tester
liblwgeom/cunit/Makefile
liblwgeom/liblwgeom.a
liblwgeom/liblwgeom.h
liblwgeom/Makefile
libtool
loader/cunit/cu_tester
loader/cunit/Makefile
loader/Makefile
loader/pgsql2shp
loader/shp2pgsql
loader/shp2pgsql-gui
ltmain.sh
macros/libtool.m4
macros/lt~obsolete.m4
macros/ltoptions.m4
macros/ltsugar.m4
macros/ltversion.m4
*.o
postgis_config.h
postgis/Makefile
postgis/legacy_gist.sql
postgis/legacy_minimal.sql
postgis/legacy.sql
postgis/postgis.sql
postgis/pipeline_gis.sql
postgis/postgis_upgrade.sql*
postgis/sfcgal_upgrade.sql*
postgis/sqldefines.h
postgis/uninstall_legacy.sql
postgis/uninstall_postgis.sql
raster/loader/Makefile
raster/loader/raster2pgsql
raster/Makefile
raster/raster_config.h
raster/rt_core/Makefile
raster/rt_pg/Makefile
raster/rt_pg/rtpostgis.sql
raster/rt_pg/rtpostgis_drop.sql
raster/rt_pg/rtpostgis_legacy.sql
raster/rt_pg/rtpostgis_upgrade.sql.in
raster/rt_pg/rtpostgis_upgrade*.sql
raster/rt_pg/uninstall_rtpostgis.sql
raster/scripts/Makefile
raster/scripts/python/Makefile
raster/test/core/Makefile
raster/test/core/testapi
raster/test/core/testwkb
raster/test/cunit/Makefile
raster/test/cunit/cu_tester
raster/test/Makefile
raster/test/regress/Makefile
raster/test/regress/rtpostgis.sql
regress/00-regress-install/
regress/Makefile
regress/postgis.sql
regress/postgis_garden_result.txt
regress/raster_garden_result.txt
*.so
st_*.png
.svn
topology/Makefile
topology/test/Makefile
topology/test/load_topology-4326.sql
topology/test/load_topology.sql
topology/test/topo_predicates.sql
topology/test/regress/topogeo_addlinestring_expected
topology/topology_drop_after.sql
topology/topology_drop_before.sql
topology/topology.sql
topology/topology_upgrade.sql*
topology/uninstall_topology.sql
libpgcommon/Makefile
libpgcommon/cunit/Makefile
utils/Makefile
utils/postgis_restore.pl
doc/sfcgal_comments.sql
postgis/sfcgal.sql
postgis/uninstall_sfcgal.sql
*.pdf
