# Global excludes across all subdirectories
*.o
*.bc
*.so
*.so.[0-9]
*.so.[0-9].[0-9]
*.sl
*.sl.[0-9]
*.sl.[0-9].[0-9]
*.dylib
*.dll
*.a
*.mo
*.pot
*.pc
objfiles.txt
.deps/
*.gcno
*.gcda
*.gcov
*.gcov.out
lcov.info
coverage/
*.vcproj
*.vcxproj
win32ver.rc
*.exe
lib*dll.def
lib*.pc
*.deb
*.rpm

# Local excludes in root directory
/GNUmakefile
/config.log
/config.status
/configure.lineno
/pgsql.sln
/pgsql.sln.cache
/Debug/
/Release/
/tmp_install
/tmp_check

src/test/regress/regression.diffs
src/test/regress/regression.out

# Temp Emacs files
*.*~

# Eclipse project files
/.cproject
/.project
/.pydevproject
/.settings/

# VSCode project files
/.vscode
