Source: pipelinedb
Section: database
Priority: optional
Maintainer: PipelineDB <packaging@pipelinedb.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: http://pipelinedb.com

Package: pipelinedb
Architecture: i386 amd64
Depends: ${shlibs:Depends}, ${misc:Depends} libxml2 (>= 2.7.4)
Description: streaming SQL database
	PipelineDB is a streaming SQL database that runs SQL queries continuously
	on streams, incrementally storing the results in tables.
