#!/usr/bin/make -f

package = pipelinedb

GEOS = geos-3.4.2
GDAL = gdal-1.11.2
PROJ = proj-4.8.0

PREFIX = /usr/lib/$(package)
TOP_BUILDDIR = ../
DESTDIR = $(CURDIR)/debian/$(package)
INSTALL_DIR = $(DESTDIR)$(PREFIX)
BINDIR = $(PREFIX)/bin
LIBDIR = $(PREFIX)/lib

clean:
	dh_clean
	rm -rf $(GEOS)* $(GDAL)* $(PROJ)* $(DESTDIR)
	if [ -e build ] ; then rm -rf build ; fi ;

build:
	touch build

conf:
	(cd $(TOP_BUILDDIR) && ./configure)

pipeline:
	(cd $(TOP_BUILDDIR) && ./configure --prefix=$(PREFIX) --with-system-tzdata=/usr/share/zoneinfo CFLAGS="$(PIPELINE_CFLAGS)" --disable-rpath)
	(cd $(TOP_BUILDDIR) && $(MAKE) VERSION=$(VERSION))
	(cd $(TOP_BUILDDIR) && $(MAKE) VERSION=$(VERSION) install)

geos:
	wget http://download.pipelinedb.com/dep/$(GEOS).tar.bz2
	tar -xf $(GEOS).tar.bz2
	(cd $(GEOS) && ./configure --prefix=$(PREFIX))
	(cd $(GEOS) && $(MAKE) && $(MAKE) install)

gdal:
	wget http://download.pipelinedb.com/dep/$(GDAL).tar.gz
	tar -xf $(GDAL).tar.gz
	(cd $(GDAL) && ./configure --prefix=$(PREFIX) \
						--with-threads \
						--with-ogr \
						--with-geos \
						--without-libtool \
						--with-libz=no \
						--without-gif \
						--without-pg \
						--without-grass \
						--without-libgrass \
						--without-cfitsio \
						--without-pcraster \
						--without-netcdf \
						--without-png \
						--without-jpeg \
						--without-gif \
						--without-ogdi \
						--without-fme \
						--without-hdf4 \
						--without-hdf5 \
						--without-jasper \
						--without-ecw \
						--without-kakadu \
						--without-mrsid \
						--without-jp2mrsid \
						--without-bsb \
						--without-grib \
						--without-mysql \
						--without-ingres \
						--without-xerces \
						--without-expat \
						--without-odbc \
						--without-curl \
						--without-sqlite3 \
						--without-dwgdirect \
						--without-idb \
						--without-sde \
						--without-perl \
						--without-php \
						--without-ruby \
						--without-python \
						--with-hide-internal-symbols \
						--disable-rpath)
	(cd $(GDAL) && $(MAKE) && $(MAKE) install)

proj:
	wget http://download.pipelinedb.com/dep/$(PROJ).tar.gz
	tar -xf $(PROJ).tar.gz
	(cd $(PROJ) && ./configure --prefix=$(PREFIX))
	(cd $(PROJ) && $(MAKE) && $(MAKE) install)

gis:
	(cd $(TOP_BUILDDIR)/src/gis && ./autogen.sh)
	(cd $(TOP_BUILDDIR)/src/gis && ./configure \
		--with-pgconfig=$(BINDIR)/pipeline-config \
		--with-geosconfig=$(BINDIR)/geos-config \
		--with-gdalconfig=$(BINDIR)/gdal-config \
		--with-projdir=$(BINDIR)/../ \
		--disable-rpath)
	(cd $(TOP_BUILDDIR)/src/gis && $(MAKE) && $(MAKE) install)

clean-libs:
	chrpath -d $(BINDIR)/raster2pgsql
	chrpath -d $(BINDIR)/geod
	chrpath -d $(BINDIR)/cs2cs
	chrpath -d $(BINDIR)/nad2bin
	chrpath -d $(BINDIR)/proj
	chrpath -d $(LIBDIR)/libgeos_c.so.1.8.2
	chrpath -d $(LIBDIR)/liblwgeom-2.2.0dev.so
	rm -rf $(PREFIX)/share/gdal
	rm -rf $(PREFIX)/share/proj
	find $(LIBDIR) -name "*.la" -exec rm {} \;

move-installation:
	mkdir $(DESTDIR)
	cp -r --parents $(PREFIX) $(DESTDIR)

binary-arch: conf geos gdal proj pipeline gis clean-libs move-installation
	dh_installdocs -a
	dh_installchangelogs -a
	dh_strip
	dh_compress -a
	dh_fixperms -a
	dh_installdeb -a
	dh_makeshlibs
	dh_shlibdeps -a -l $(LIBDIR)
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

binary: binary-arch

.PHONY: binary binary-arch clean checkroot
